body {
    background-color: aliceblue;
    margin: 0px;
}
html {
    scroll-behavior: smooth;
}

.header {
    background: #555B6E;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 10px;
    color: #BEE3D8;
}

.topnav {
    background-color: #89B0AE;
    overflow: hidden;
    vertical-align: text-bottom;
    height: 50px;
}

.topnav a {
    display: block;
    color: white;
}

.topnav a:hover {
    background-color: #89B0AE;
    color: black;
}

.topnav a.active {
    background-color: #555B6E;
    color: white
}

.topnav .search-container {
    float: left;
}

.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    border-radius: 60px;
    margin-top: 8px;
    margin-left: 25px;
    font-size: 17px;
}

.topnav .search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 0px;
    margin-right: 16px;
    background: #89B0AE;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #89B0AE;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 3px;
    overflow: hidden;
    background-color: #89B0AE;
}

li {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 8.3px 5px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #89B0AE;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #BEE3DB;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown-content a:hover {
    background-color: #89B0AE;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidenav {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #555B6E;
    overflow-x: hidden;
}

.sidenav a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #BEE3DB;
    padding-left: 30px;
    padding-top: 10px;
}

.sidenav .logo {
    background-color: #555B6E;
    padding-left: 50px;
    display: block;
}

.sidenavR {
    width: 250px;
    position: fixed;
    border-radius: 10px;
    top: 80px;
    right: 20px;
    background: #c4c4c4;
    overflow: scroll;
    padding: 8px 0;
}

.sidenavR a {
    padding: 3px 8px 3px 20px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: black;
    display: block;
}

.sidenavR h1 {
    padding: 6px 5px 6px 20px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    display: block;
    margin:0;
}
.sidenavR h2 {
    padding: 2px 2px 2px 20px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    display: block;
    margin:0;
}

.idea {
    width: 500 px;
    height: 50px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #555B6E;
}

.main {
    margin-left: 225px;
    overflow: scroll;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h6, .title, .btn {
    font-family: -apple-system, 'Helvetica', sans-serif;
    color: #555B6E;
}

a {
    color: #89B0AE;
}

.dark_link {
    color: #555B6E;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 100px;
}

#landing_page {
    background-image: url("img/landing_bg.png");
    background-size: 100%;
    background-color: #89B0AE;
    background-repeat: no-repeat;
    border-color: none;
    height: 800px;
    width: 100%;
    
}

#landing_div {
    text-align: center;
    padding: 240px 0;
}

#landing_top_menu {
    padding: 20px;
    text-align: right;
}

.ideas {
    background: #89B0AE;
}

.form_bg {
    background-image: url("img/landing_bg.png");
    background-size: 100%;
    height: 800px;
    background-color: #89B0AE;
    background-repeat: no-repeat;
    border-color: none;
    padding: 50px;
}

.form, .form_ideas {
    background: white;
    padding: 60px 60px;
    border-radius: 15px;
}

.form {
    margin: 5% 25%;
}

.form_ideas {
    margin: 5% 10%;
}

.form_component {
    text-align: left;
}

input, textarea {
    margin: 0px 0px 15px;
}

button {
    color: white;
    border-radius: 5px;
    border: none;
    background: #89B0AE;
    padding: 5px 10px;
    margin: 5px 0px 15px;
    font-size: 20px;
}

.btn-outline-secondary {
    border-color: #555B6E;
    color: #555B6E;
    border-width: 2px;
    border-radius: 10px;
    margin: 25px 15px 25px;
    font-size: 36px;
}
